mixin lotomania(content, params)
  .lotomania&attributes(content.attr)&attributes(attributes)
    +lotomania__bg
    .lotomania__content
      +lotomania__header(content.header)
      .lotomania__description !{content.description}
      +lotomania__wheel
      .lotomania__instruction
        +pug-list(content.instruction, "lotomania__instruction-item", params)
      +lotomania__arrow(content.arrow)
      +button(content.button).lotomania__button
    block

mixin lotomania__bg(content, params)
  .lotomania__bg
    .lotomania__bg-fade.lotomania__bg-grad_top
    .lotomania__bg-fade.lotomania__bg-fade_bottom-1
      picture(data-delayed-attr="src|images/lotomania/bg-1.png;;images/lotomania/bg-1.png;(min-width: 1024px);images/lotomania/bg-1.webp;(min-width: 1024px);images/1px.png;(max-width: 1023px)" data-delayed-attr-delay="500|5000" style="visibility:hidden")
    .lotomania__bg-fade.lotomania__bg-fade_bottom-2
      picture(data-delayed-attr="src|images/lotomania/bg-2.png;;images/lotomania/bg-2.png;(min-width: 1024px);images/lotomania/bg-2.webp;(min-width: 1024px);images/lotomania/bg-m.png;(max-width: 1023px);images/lotomania/bg-m.webp;(max-width: 1023px)" data-delayed-attr-delay="500|5000" style="visibility:hidden")
    .lotomania__bg-fade.lotomania__bg-grad_bottom


mixin lotomania__header(content, params)
  .lotomania__header&attributes(attributes)
    if content.text
      .lotomania__text!=content.text
    .lotomania__title
      img(data-delayed-attr="src|"+content.title.src alt=content.title.alt data-delayed-attr-delay="500|5000" style="visibility:hidden")
    .lotomania__success
      .lotomania__success-pic
         img(data-delayed-attr="src|"+content.success.src alt=content.alt data-delayed-attr-delay="500|5000" style="visibility:hidden")
      .lotomania__success-text
        picture(data-delayed-attr="src|images/lotomania/successText.svg;;images/lotomania/successText.svg;(min-width: 1024px);images/lotomania/successText-m.svg;(max-width: 1023px)" data-delayed-attr-delay="500|5000" style="visibility:hidden")


mixin lotomania__wheel(content, params)
  .lotomania__wheel&attributes(attributes)
    picture(data-delayed-attr="src|images/lotomania/wheel.png;;images/lotomania/wheel.png;(min-width: 1024px);images/lotomania/wheel.webp;(min-width: 1024px);images/lotomania/wheel-m.png 1x, images/lotomania/wheel-m@2x.png 2x;(max-width: 1023px);images/lotomania/wheel-m.webp 1x, images/lotomania/wheel-m@2x.webp 2x;(max-width: 1023px)" data-delayed-attr-delay="500|5000" style="visibility:hidden")


mixin lotomania__instruction-item(content,params)
  .lotomania__instruction-item&attributes(attributes)
    .lotomania__instruction-pic
      img(data-delayed-attr="src|"+content.pic.src alt=content.pic.alt data-delayed-attr-delay="500|5000" style="visibility:hidden")
    .lotomania__instruction-text !{content.text}


mixin lotomania__arrow(content, params)
  a.lotomania__arrow-btn&attributes(content.attr)&attributes(attributes)
    .lotomania__arrow
      //- != read(`app/images/lotomania/arrow.svg`)
      include arrow.svg
