mixin intro(content, params)
  #title-block.intro.parallax-container(data-parallax-settings="20" data-use-api=content.dataUseApi)&attributes(assign( content.attributes||{}, attributes||{}))
    .intro__bg
    .intro__content
      .intro__head
        +intro__logo(content.logo).intro__logo_rl
        .intro__menu
          +pug-list(content.menu, "intro__menu-item")
      //.intro__body
        .intro__title!=content.title
        .intro__subtitle!=content.subtitle
        +button(content.button).intro__button
      //+intro__man-mob

mixin intro__logo(content,params)
  a.intro__logo&attributes(assign( content.attributes||{}, attributes||{}))
    picture
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+content.srcHor media="(max-width: 1023px)" data-delayed-attr-delay="1000" style="visibility:hidden")
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+content.src media="(min-width: 1024px)" data-delayed-attr-delay="1000" style="visibility:hidden")
      img(data-delayed-attr='src|'+ASSET_PREFIX+content.src data-delayed-attr-delay="1000" alt=content.alt style="visibility:hidden" )

mixin intro__title(content, params)
  .intro__title&attributes(attributes)
    picture
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/title-block/title-m.png' media="(max-width: 767px)" data-delayed-attr-delay="1000" style="visibility:hidden")
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/title-block/title.png' media="(min-width: 768px)" data-delayed-attr-delay="1000" style="visibility:hidden")
      img(data-delayed-attr='src|'+ASSET_PREFIX+'images/1px.png' data-delayed-attr-delay="1000" alt="Новогодний Миллиард" style="visibility:hidden")

mixin intro__bg-item(content, params)
  .intro__bg-item(data-parallax=content.distance class=`intro__bg-item_${content.index}`)&attributes(assign( content.attributes||{}, attributes||{}))
    if content.src
      picture
        source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/1px.png' media="(max-width: 1023px)" data-delayed-attr-delay="1000" style="visibility:hidden")
        source(data-delayed-attr='srcset|'+ASSET_PREFIX+content.src media="(min-width: 1024px)" data-delayed-attr-delay="1000" style="visibility:hidden")
        img(data-delayed-attr='src|'+ASSET_PREFIX+content.src data-delayed-attr-delay="1000" style="visibility:hidden" alt="конфети")

mixin intro__elka(content, params)
  .intro__bg-item.intro__bg-item_elka&attributes(attributes)
    picture
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/title-block/el-m.webp 1x, '+ASSET_PREFIX+'images/title-block/el-m@2x.webp 2x' media="(max-width: 1023px)" type="image/webp" data-delayed-attr-delay="2500" style="visibility:hidden")
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/title-block/el-m.png 1x, '+ASSET_PREFIX+'images/title-block/el-m@2x.png 2x' media="(max-width: 1023px)" data-delayed-attr-delay="2500" style="visibility:hidden")
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/title-block/elka.webp' media="(min-width: 1024px)" type="image/webp" data-delayed-attr-delay="2500" style="visibility:hidden")
      source(data-delayed-attr='srcset|'+ASSET_PREFIX+'images/title-block/elka.png' media="(min-width: 1024px)" data-delayed-attr-delay="2500" style="visibility:hidden")
      img(data-delayed-attr='src|'+ASSET_PREFIX+'images/1px.png' data-delayed-attr-delay="2500" style="visibility:hidden" alt="elka")

mixin intro__man-desk(content,params)
  .intro__man.intro__man_desk&attributes(attributes)
    picture
      source(data-delayed-attr="srcset|"+ASSET_PREFIX+"images/1px.png" media="(max-width: 1023px)" delayed-attr-delay="2000" style="visibility:hidden")
      source(data-delayed-attr="srcset|"+ASSET_PREFIX+"images/intro/man.webp 1x, "+ASSET_PREFIX+"images/intro/man@2x.webp 2x" media="(min-width: 1024px)" type="image/webp" delayed-attr-delay="2000" style="visibility:hidden")
      source(data-delayed-attr="srcset|"+ASSET_PREFIX+"images/intro/man.png 1x, "+ASSET_PREFIX+"images/intro/man@2x.png 2x" media="(min-width: 1024px)" delayed-attr-delay="2000" style="visibility:hidden")
      img(data-delayed-attr="src|"+ASSET_PREFIX+"images/1px.png" alt="актер Михаил Пореченков" delayed-attr-delay="2000" style="visibility:hidden")

mixin intro__man-mob(content,params)
  .intro__man.intro__man_mob&attributes(attributes)
    picture
      source(data-delayed-attr="srcset|"+ASSET_PREFIX+"images/intro/man-m.webp 1x, "+ASSET_PREFIX+"images/intro/man-m@2x.webp 2x" type="image/webp" media="(max-width: 1023px)" delayed-attr-delay="2000" style="visibility:hidden")
      source(data-delayed-attr="srcset|"+ASSET_PREFIX+"images/intro/man-m.png 1x, "+ASSET_PREFIX+"images/intro/man-m@2x.png 2x" media="(max-width: 1023px)" delayed-attr-delay="2000" style="visibility:hidden")
      source(data-delayed-attr="srcset|"+ASSET_PREFIX+"images/1px.png" media="(min-width: 1024px)" delayed-attr-delay="2000" style="visibility:hidden")
      img(data-delayed-attr="src|"+ASSET_PREFIX+"images/1px.png" alt="актер Михаил Пореченков" delayed-attr-delay="2000" style="visibility:hidden")


mixin intro__prize(content,params)
  .intro__prize&attributes(attributes)
    .intro__prize-bg
    .intro__prize-title Призовой фонд достиг почти
    .intro__prize-prize 2 400 000 000 ₽



mixin intro__menu-item(content,params)
  a.intro__menu-item&attributes(assign( content.attributes||{}, attributes||{}))!=content.text
